name: Tests Pipeline
on:

  push:
    branches:
      - '**' # em qualquer branch que for realizado push, atira action

  pull_request:
    branches:
      - main
      - master
      - develop

env:
  KAKFA_URL: localhost:9094

jobs:
  integration-tests:
    name: Integration tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout project 
        uses: actions/checkout@v2

      - name: Setup Node.js Environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Postgresql
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '12'
          postgresql db: whypark
          postgresql user: whypark
          postgresql password: whypark123
      
      - name: Build migration
        working-directory: api_producer
        run: npm run migrate:run

      - name: Start Redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: ${{ matrix.redis-version }}

      - name: Start Kafka
        uses: 280780363/kafka-action@v1.0
        with:
          kafka version: "latest" # Optional, kafka version
          zookeeper version: "latest" # Optional, zookeeper version
          kafka port: 9094 # Optional, kafka port
          zookeeper port: 2181 # Optional, zookeeper port
          auto create topic: "true" # Optional, auto create kafka topic

      - name: Install dependencies
        working-directory: api_producer
        run: npm i

      - name: Run integration tests
        working-directory: api_producer/test
        run: npm run test integration
  
  unit-tests:
    name: Unit tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout project 
        uses: actions/checkout@v2

      - name: Install dependencies
        working-directory: api_producer
        run: npm i

      - name: Run unit tests
        working-directory: api_producer/test
        run: npx jest unit