name: Tests Pipeline
on:
  push:
    branches:
      - '**' # em qualquer branch que for realizado push, atira action

  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  unit:
    name: Unit tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout project 
        uses: actions/checkout@v2

      - name: Install dependencies
        working-directory: api_producer
        run: yarn install

      - name: Run unit tests
        working-directory: api_producer/test
        run: npx jest unit

  integration:
    name: Integration tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout project 
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: api_producer
        run: yarn install

      - uses: isbang/compose-action@v1.4.1
        with:
          compose-file: "../../docker-compose.yml"

      - uses: isbang/compose-action@v1.4.1
        with:
          compose-file: "../../kafka/docker-compose.yml"
      
      - name: Build project
        run: yarn start:dev

      - name: Run integration tests
        working-directory: api_producer/test
        run: npx jest integration