name: Tests Pipeline
on:

  push:
    branches:
      - '**' # em qualquer branch que for realizado push, atira action

  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  integration-tests:
    name: Integration tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout project 
        uses: actions/checkout@v2

      - name: Setup Node.js Environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Postgresql
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '12'
          postgresql db: whypark
          postgresql user: whypark
          postgresql password: whypark123
      
      - name: Build migration
        working-directory: api_producer
        run: npm run migrate:run

      - name: Start Redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: ${{ matrix.redis-version }}

      - name: Kafka 
        run: cd dockers && cd kafka && docker-compose -f "docker-compose.yml" up -d --build

      - name: Kafka UI
        run: cd dockers && cd kafka && cd ui && docker-compose -f "docker-compose.yml" up -d --build

      - name: Kafka ZOO
        run: cd dockers && cd kafka && cd zoo && docker-compose -f "docker-compose.yml" up -d --build

      - name: Install dependencies
        working-directory: api_producer
        run: npm i

      - name: Run integration tests
        working-directory: api_producer/test
        run: npm run test integration
  
  unit-tests:
    name: Unit tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout project 
        uses: actions/checkout@v2

      - name: Install dependencies
        working-directory: api_producer
        run: npm i

      - name: Run unit tests
        working-directory: api_producer/test
        run: npx jest unit